{% extends "base.html.twig" %}

{% block body %}
<h1>Bienvenue dans mon blog ;) </h1>
<p>
<p>orem ipsum dolor sit amet, te vim sint solum harum, ad nec minimum suscipiantur mediocritatem. Ei sit corrumpit gubergren,
 simul labores maiestatis ad usu. Sit ei alia tractatos, his eu tacimates mediocritatem, facer labitur delectus id eum.
  <p>Habeo albucius suscipit usu ne. Pro cu vocibus explicari laboramus,</p>
   ea cum equidem temporibus, in mea tantas aliquip postulant.
<p>Ut denique salutandi reformidans vix. Percipit salutandi ex quo, admodum alienum id vim.</p>
 Delenit oporteat appellantur quo an, 
vidit accommodare in sed. Adhuc adipiscing ne duo, ut dicit senserit qui. Ut dicat fierent ius, sea ad mundi ridens tritani.</p>
</p>
{% endblock %} 
